################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Essensplan/bin/Debug/netcoreapp3.0
/Essensplan/obj
/Essensplan/bin/Release/netcoreapp3.0
