@model CreateEditViewModel
@{
    ViewData["Title"] = "Erstelle Gericht";
}

<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="/img/sub_header_short.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1>Neues Gericht</h1>
        </div>
    </div>
</section>

<div id="position">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li>Übersicht</li>
        </ul>
        <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Suche</a>
    </div>
</div>

<div class="container margin_60_35">

    @using (Html.BeginForm())
    {
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Name des Gerichts:</label>
                    <input type="text" asp-for="Gericht.Name" class="form-control" placeholder="Mett mit Schafskäse">
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <select asp-for="SelectedTagGuids" class="form-control">
                        @foreach (var tag in Model.AvailableTags)
                        {
                            <option value="@tag.Guid">@tag.Title</option>
                        }
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Speichern" />
            </div>
        </div>
    }
</div>