@model GerichtServiceIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Alle Gerichte</h1>

<table width="100%" class="table-striped">
    <thead>
        <tr>
            <th>Gericht</th>
            <th>Tags</th>
            <th>Optionen</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var gericht in Model.Alle)
        {
            <tr>
                <td>@gericht.Name</td>
                <td>
                    @foreach (var tag in gericht.Tags)
                    {
                        <div class="badge badge-primary p-2">@tag.Title</div>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-guid="@gericht.Guid">Editieren</a>
                </td>
            </tr>
        }
    </tbody>
</table>

